<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
</head>
<body>
<div class="container container-fluid">
    <div class="container container-fluid">
        <h1><%= title %></h1>
        <p>
            Center allotted to user: <%= user %> is <strong><%= center %></strong>
        </p>
        <form method="get" action="/">
            <button class="btn btn-success">Return</button>
        </form>
    </div>
</div>
</body>
</html>
